<?php

namespace Drupal\{{ module_name }}\Plugin\Block;

use Drupal\Core\Access\AccessResult;
use Drupal\Core\Session\AccountInterface;
use Drupal\Core\Block\BlockBase;

/**
 * Provides a '{{ form_class_human }}' block.
 *
 * @Block(
 *   id = "{{ form_class_underscore }}_block",
 *   admin_label = @Translation("{{ form_class_human }}"),
 *   category = @Translation("Forms")
 * )
 */
class {{ form_class }}Block extends BlockBase {

  /**
   * {@inheritdoc}
   */
  protected function blockAccess(AccountInterface $account) {
    return AccessResult::allowedIfHasPermission($account, 'access content');
  }

  /**
   * {@inheritdoc}
   */
  public function build() {
    return \Drupal::formBuilder()->getForm('Drupal\{{ module_name }}\Form\{{ form_class }}');
  }

}
