
{{ route_name }}:
  path: '{{ route_path }}'
  defaults:
    _form: '\Drupal\{{ module_name }}\Form\{{ form_class }}'
    _title: '{{ route_title }}'
  requirements:
    _permission: 'administer {{ module_name }}'
